@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    background: url("src/img/background.png") center center / cover no-repeat fixed;
    font-family: Poppins;
}

.container {
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    color: #fff;
    font-size: 5.5vw;
    font-weight: 500;
}

span {
    color: #ffffff;
    font-family: Poppins;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(1, 149, 255, 1);
    z-index: 999999;
    color: white;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    gap: 20px;
    position: relative;
    color: white;
}

.nav-link {
    text-decoration: none;
    color: #000;
    font-weight: 500;
    color: white;
}

.nav-logo {
    height: 40px;
    width: auto;
    padding-left: 2.5vh;
    padding-right: 2.5vh;
    padding-top: 5px;
}

.nav-button {
    position: absolute;
    right: 8px;
    padding: 8px 32px;
    background: rgba(255, 255, 255, 0.25);
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: default;
    transition: 0.25s;
}

.nav-button:hover {
    background: rgba(255, 255, 255, 0.35);
}

a {
    color: white;
    text-decoration: none;
    cursor: default;
}

.home-logo {
    max-height: 10vh;
    width: auto;
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    height: 50vh;
    gap: 0;
}

.home-text {
    font-size: 2.5vh;
    color: #091723;
    text-align: center;
}

.divider {
    display: block;
    margin: 0 auto;
    width: 95vw;
    height: auto;
}
