@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background: url("src/img/background.png") center center / cover no-repeat fixed;
    font-family: Poppins;
    cursor: default;
}

.container {
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    color: #fff;
    font-size: 5vw;
    font-weight: 500;
}

h2 {
    color: #fff;
    font-size:2.5vh;
}

h3 {
    color: #fff;
    font-size:4vh;
}

p {
    color: #fff;
}

span {
    color: #ffffff;
    font-family: Poppins;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(1, 149, 255, 0.5);
    backdrop-filter: blur(10px);
    z-index: 999999;
    color: white;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    gap: 20px;
    position: relative;
    color: white;
}

.nav-link {
    text-decoration: none;
    color: #000;
    font-weight: 500;
    color: white;
}

.nav-logo {
    height: 40px;
    width: auto;
    padding-left: 2.5vh;
    padding-right: 2.5vh;
    padding-top: 5px;
}

.nav-button {
    position: absolute;
    right: 8px;
    padding: 8px 32px;
    background: rgba(255, 255, 255, 0.25);
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: default;
    transition: 0.25s;
}

.nav-button:hover {
    background: rgba(255, 255, 255, 0.35);
}

a {
    color: white;
    text-decoration: none;
    cursor: default;
}

.home-logo {
    max-height: 15vh;
    width: auto;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    height: 100vh;
    gap: 0;
}

.home-text {
    font-size: 3.5vh;
    color: /* #091723; */ #fff;
    text-align: center;
}

.divider {
    display: block;
    margin: 0 auto;
    width: 95vw;
    height: auto;
    backdrop-filter: blur(10px);
}

.section-white {
    background-color: rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(10px);
}

.container.footer {
    background-color: rgba(9, 23, 35, 0.5);
    backdrop-filter: blur(10px);
    min-height: 25vh;
    max-height: 75vh;
    color: white;
    padding-top: 25px;
    padding-bottom: 25px;
}

.game-card {
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    padding: 5px;
    min-height: 40vh;
    height: 40vh;
    min-width: 30vh;
    max-width: 30vh;
    border-radius: 6px;
    margin-left: 10px;
    margin-right: 10px;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    margin: 10px;   
    gap: 10px;
    transition: 0.125s;
}

.game-card:hover {
    background-color: rgba(255, 255, 255, 0.25);
}

td {
    gap: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

tr {
    margin-left: 10px;
    margin-right: 10px;
}

.card-content {
    font-size: 1.5vh;
}

.button {
    position: absolute;
    padding: 8px 32px;
    background: rgba(255, 255, 255, 0.25);
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: default;
    transition: 0.25s;
}

.button.card-content {
    position: absolute;
    padding: 8px 16px;
    background: rgba(255, 255, 255, 0.25);
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
    text-decoration: none;
    justify-self: center;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: default;
    transition: 0.25s;
    
}

.button:hover {
    background: rgba(255, 255, 255, 0.35);
}

.contact-table {
    text-align: center;
}
